<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perros</title>
</head>
<body>
<form method="post">
     {% csrf_token %}
    <input type="text" name="nombre" >
    <input type="submit" value="aceptar" >
</form>

<ul>
{% for item in lista %}
    <li>{{ item.descripcion }}</li>
{% endfor %}
</ul>

</body>
</html>