<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perros</title>
</head>
<body>

{% if error %}
   <h1 style="color:red;">{{error}}</h1>
{% endif %}
<form method="post">
     {% csrf_token %}
    <label>profesion</label>
    <select name="profesion" >
        {% for item in profesiones %}
        <option value="{{item.id}}" > {{item.nombre}} </option>
        {% endfor %}
    </select>
    <label>Nombre</label>
    <input type="text" name="nombre" >
    <label>nivel</label>
    <input type="number" name="nivel" >
    <input type="submit" value="aceptar" >
</form>

<table>
    <thead>
    <tr>
    <td>Nombre</td><td> profesion </td><td> Nivel </td>
    </tr>
    </thead>
    <tbody>
    <!-- recorro la lista de personajes para que genere n filas -->
{% for item in lista %}
    <tr>
        <td>
        {{ item.nombre }}
        </td>
        <td>
        {{ item.clase.nombre }}
        </td>
        <td>
        {{ item.nivel }}
        </td>
        <td>
           <a href="personaje/{{item.id}}" > modificar </a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>



</body>
</html>